<div class="box ui-widget ui-widget-content fm-window" id="FileManager">
	<div class="header">{$i18n->getText('File Manager')}</div>
	<div class="content fm-main-pane">

		<div class="fm-folders-pane content">
		{if count($folders}}
		<ul class="menu">
			{foreach $folders folder}
			<li>
				<img src="{$Eresus->root}{$theme->getImage('dot.gif')}" alt="[+]" title="" />
				<img src="{$Eresus->root}{$theme->getIcon('mimetypes/folder.png', 'medium')}" alt="[folder]" title="" />
				<a href="#">{$folder}</a>
			</li>
			{/foreach}
		</ul>
		{else}
		{$i18n->getText('No folders', 'FileManager')}
		{/if}
		</div>

		<div class="fm-files-pane">
			<div class="content">
				{if count($files}}
				{foreach $files file}
				<div class="fm-object">
					<img src="{$Eresus->root}{$file->icon}" alt="[unknown]" title="" />
					<div class="filename">{$file->name}</div>
				</div>
				{/foreach}
				{else}
				{$i18n->getText('No files in this folder', 'FileManager')}
				{/if}
			</div>
		</div>

	</div>
</div>