[submodule "vendor/Botobor"]
	path = vendor/Botobor
	url = git://github.com/mekras/botobor.git
[submodule "vendor/jquery-cookie"]
	path = vendor/jquery-cookie
	url = git://github.com/carhartl/jquery-cookie.git
[submodule "vendor/symfony/ClassLoader"]
	path = vendor/symfony/ClassLoader
	url = git://github.com/symfony/ClassLoader.git
[submodule "vendor/symfony/DependencyInjection"]
	path = vendor/symfony/DependencyInjection
	url = git://github.com/symfony/DependencyInjection.git
