ErrorDocument 403 /index.php?HTTP_ERROR=403
ErrorDocument 404 /index.php?HTTP_ERROR=404

Options -Indexes

<IfModule mod_charset.c>
  CharsetDisable On
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteRule (core/editor/.*\.html)$ core/gziph.php?file=$1&type=text/html [L]
  RewriteRule (.*\.css)$ core/gziph.php?file=$1&type=text/css [L]
  RewriteRule (.*\.js)$ core/gziph.php?file=$1&type=text/javascript [L]
  RewriteRule ^(core|ext|data|style)/ - [L]
  RewriteRule ^admin admin.php [L]
  RewriteRule \.(jpg|gif|jpeg|bmp|png|ico|zip|7z|rar)$ - [L]
  RewriteRule \.* index.php
</IfModule>
