Options -Indexes +FollowSymLinks
AddDefaultCharset Off

<IfModule mod_charset.c>
  CharsetDisable On
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteRule (core/editor/.*\.html)$ core/gziph.php?file=$1&type=text/html [L]
  RewriteRule (core/editor/.*\.js)$ core/gziph.php?file=$1&type=text/javascript&charset=utf-8 [L]
  RewriteRule (core/js/.*\.js)$ core/gziph.php?file=$1&type=text/javascript&charset=utf-8 [L]
  RewriteRule (.*\.css)$ core/gziph.php?file=$1&type=text/css [L]
  RewriteRule (.*\.js)$ core/gziph.php?file=$1&type=text/javascript [L]
  RewriteRule ^(core|ext|data|style)/ - [L]
  RewriteRule ^admin core/admin.php [L]
  RewriteRule ^ajax/ core/ajax.php [L]
  RewriteRule ^(robots.txt|favicon.ico)$ - [L]
  RewriteRule .* core/client.php
</IfModule>
