/* Стандартные стили */

/* Основные стили */
html {margin: 0; padding: 0;}
body {margin: 0; padding: 0; font-family: verdana, tahoma, sans-serif;}
table {font-size: 8pt;}
img {border: 0;}
sup {font-size: 6pt;}
sub {font-size: 6pt;}

a {color: blue; text-decoration: none;}
a:visited {color: blue; text-decoration: none;}
a:hover {color: red; text-decoration: none;}

p {text-indent: 1em; margin: 2px 0px 3px 0px; text-align: justify;}

h1 {font-family: 'Arial', sans-serif; font-style: italic; font-size: 13pt; margin: 1em 0px 7px 0px;}
h2 {font-family: 'Arial', sans-serif; font-size: 11pt;}
h3 {font-family: 'Arial', sans-serif; font-size: 10pt; font-style: italic;}
h4 {font-family: 'Arial', sans-serif; font-size: 9pt; margin: 1em 0px 2px 0px;}
h5 {font-family: 'Arial', sans-serif; font-size: 8pt; margin: 1em 0px 2px 1em;}

/* Стили области контента */
#Content {padding: 5px 10px; font-size: 8pt;}

div.form {}
.form th {}
.form td {;}
.form input {}
.form textarea {}
.form input.button {}

input.contentButton {}

/* Сообщения об ошибках */
div.errorBox {background: #fff; border: solid 2px #f00; font-size: 8pt; padding: 5px; margin: 0 2px 2px 2px;}
div.errorBoxCap {background: #f00; color: #fff; font-weight: bold; padding: 2px 5px 0px 5px; margin: 2px 2px 0 2px;}
/* Информационные сообщения */
div.infoBox {background: #fff; border: solid 2px #25b; font-size: 8pt; padding: 5px; margin: 0 2px 2px 2px;}
div.infoBoxCap {background: #25b; color: #fff; font-weight: bold; padding: 2px 5px 0px 5px; margin: 2px 2px 0 2px;}

/* PLUGINS */