<div class="module-buttons">
	<a class="button button_has_icon button_icon_add" href="admin.php?mod=users&action=add">
		<span class="button__caption">Добавить пользователя</span>
	</a>
</div>

<div class="block block_float_left">
	<table class="grid-list">
		<thead>
			<tr>
				<th>Управление</th>
				<th>Полное имя</th>
				<th>Имя входа</th>
				<th>Доступ</th>
				<th>E-mail</th>
				<th>Последний вход</th>
				<th>Ошибок входа</th>
			</tr>
		</thead>
		{foreach $list->getItems() item}
		<tr class="grid-list__item">
			<td class="grid-list__item-ctrl">{$list->getControls($item, 'config', 'toggle', 'delete')}</td>
			<td>{$item->fullname}</td>
			<td>{$item->username}</td>
			<td>{$item->accessStr}</td>
			<td><a href="mailto:{$item->mail}">{$item->mail}</a></td>
			<td>{$item->lastVisit}</td>
			<td class="cell_type_number">{$item->loginErrors}</td>
		</tr>
		{/foreach}
	</table>
</div>	
