.button.button_has_icon
{
    padding-left: 25px;
    position: relative;
}

.button.button_has_icon:before
{
    background-image: url(../../icon/_img/icon.16.png);
    background-repeat: no-repeat;
    content: ' ';
    display: block;
    height: 16px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 16px;
}
