/*********     objects     **********/

/*-------------------------------- Кнопки objectbutton ---------------------------------------------------*/
.objectbutton {
	font: 8pt Verdana, 'MS Sans Serif', Geneva, sans-serif;

	display: block; float: left;
	height: 17px; line-height: 17px;
	padding: 0px 5px 0px 5px;
	margin: 5px 2px 5px 5px;

	background: #007ACC;
	border-top: 2px solid #6EB3E2;
	border-right: 2px solid #005C9A;
	border-bottom: 2px solid #00426E;
	border-left: 2px solid #2186CA;

	color: #FFFFFF !important;
}

.objectbutton:hover { background-color: #008ADC !important; }
.objectbutton:active {
	border-bottom: 2px solid #6EB3E2;
	border-left: 2px solid #005C9A;
	border-top: 2px solid #00426E;
	border-right: 2px solid #2186CA;
}

/* кнопка "добавить" */
.objectbutton.add {
	background: url(objectbutton/add.gif) 2px center no-repeat #007ACC;
	padding-left: 16px;
}

/* кнопка "настройки" */
.objectbutton.settings {
	background: url(objectbutton/settings.gif) 2px center no-repeat #007ACC;
	padding-left: 24px;
}

/* кнопка "почта" */
.objectbutton.mail {
	background: url(objectbutton/mail.gif) 2px center no-repeat #007ACC;
	padding-left: 24px;
}
/*-------------------------------- end of objectbutton ----------------------------------------------------*/

/*-------------------------------- Вывод списка элементов в виде таблицы (objecttable) --------------------*/
.objecttable {
	margin: 5px 5px 5px 5px;
	border: 1px solid #000000;
}
.objecttable th {
	background-color: #007ACC;
	border-top: 1px solid #3194D6; border-left: 1px solid #2E92D5; border-bottom: 1px solid #005D9C; border-right: 1px solid #005E9D;
	padding: 2px 2px 2px 2px;
	color: #FFFFFF; font-weight: bold;
	white-space: nowrap;
}
.objecttable th a {
	color: #FFFFFF !important; font-weight: bold; padding: 0px 9px 0px 9px;
}
.objecttable th a.nohighlight {}
.objecttable th a.highlightdesc { color: #FFD700 !important; background: url(objecttable/ard.gif) right 4px no-repeat; }
.objecttable th a.highlightasc { color: #FFD700 !important; background: url(objecttable/aru.gif) right 4px no-repeat; }

.objecttable th a.pos_nohighlight { background: url(objecttable/p.gif) center no-repeat; }
.objecttable th a.pos_highlightdesc { background: url(objecttable/ard.gif) right 4px no-repeat; }
.objecttable th a.pos_highlightasc { background: url(objecttable/aru.gif) right 4px no-repeat; }

.objecttable td {
	background-color: #FFFFFF;
	border-top: 1px solid #FFFFFF; border-left: 1px solid #FFFFFF; border-bottom: 1px solid #AEAEAE; border-right: 1px solid #B0B0B0;
	padding: 3px 5px 3px 5px;
}
.objecttable td.ctl {
	background-color: #F5F5F5;
	border-top: 1px solid #FFFFFF; border-left: 1px solid #FFFFFF; border-bottom: 1px solid #AEAEAE; border-right: 1px solid #B0B0B0;
	padding: 0px 10px 0px 10px;
	vertical-align: middle;
	white-space: nowrap;
}
.objecttable td.ctl div { /*text-align: center;*/ line-height: 0px; padding: 1px 0px 1px 0px;  }
.objecttable td.centered { text-align: center; vertical-align: middle; }
.objecttable td.nowrap { white-space: nowrap; }
/*-------------------------------- end of objecttable -----------------------------------------------------*/

/*-------------------------------- Формы ------------------------------------------------------------------*/
a.button {
 	color: #007ACC !important;
	font-size : 8pt; font-weight: bold; font-family : "MS Sans Serif", Geneva, sans-serif;
	border: solid 1px #aaa; background-color: white;
	padding: 1px 30px 1px 30px;
}
input.radio { border: none; background-color: transparent; }
textarea { overflow: auto; }

div.ListBox {
	padding: 5px 0px 5px 10px;
	width: 50%; height: 100px;
	border: 1px solid #A0A0A0;
	overflow: auto;
}
div.ListBox input { border: none; background: transparent; margin: 0px 2px 0px 2px; }
/*-------------------------------- end of формы -----------------------------------------------------------*/