<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Вход - ${product.title}</title>
	<link rel="StyleSheet" type="text/css" href="{$siteRoot}/admin/themes/default/theme.css" />
	<link rel="StyleSheet" type="text/css" href="{$siteRoot}/admin/themes/default/auth.css" />
</head>
<body onload="document.getElementById('user').focus();">

	<table id="body">
		<tr>
			<td>

				<div id="auth-dialog">
					<form id="auth-form" action="{$siteRoot}/admin.php" method="post">

						<div class="title">Вход в панель управления</div>
						<div class="content">
							{if $errors}
							{foreach $errors message}
							<div class="box error">{$message}</div>
							{/foreach}
							{/if}
							<div class="label"><label for="user">Пользователь:</label></div>
							<div><input type="text" name="user" id="user"{if $user} value="{$user}"{/if} /></div>
							<div class="label"><label for="password">Пароль:</label></div>
							<div><input type="password" name="password" id="password" /></div>
							<div class="checkbox">
								<label for="autologin">
									<input type="checkbox" name="autologin" id="autologin" value="1"{if $autologin} checked="checked"{/if} />
									Запомнить
								</label>
							</div>
						</div>
						<div class="buttons">
							<button type="submit">Войти</button>
						</div>
					</form>
				</div>

			</td>
		</tr>
	</table>

</body>
</html>