<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>{$site->getName()} - {$page->getTitle()}</title>
	<link rel="stylesheet" href="{$site->getRootUrl()}/admin/themes/default/theme.css">
	<script>
		window.Eresus = {
				siteRoot: "{$site->getRootUrl()}"
		};
	</script>
	{jslib jquery ui cookie}
    {jslib webshim}
</head>
<body>

	<header id="header" class="header ui-widget-header">
		<div class="width-limit">
			<div id="cmsLogo">
				<a href="{$site->getRootUrl()}admin.php?mod=about">
					<img src="{$site->getRootUrl()}/admin/themes/default/img/logo.png"
                        alt="Eresus ${product.version}" width="150" height="30">
				</a>
			</div>
			<h1>{$site->getName()} &ndash; {$page->getTitle()}</h1>
			Eresus ${product.version}
		</div>
	</header>

	<div class="width-limit">
		<aside class="nav sidebar">

			<div class="box ui-widget ui-widget-content">
				<div class="header">Контент</div>
				<div class="content menu menu-content">
					<ul>
						{$sectionMenu}
					</ul>
				</div>
			</div>

            <nav class="sidebar__block block">
                <h1 class="block__title">Управление</h1>
                <div class="block__body">
                    {$mainMenu->getHtml()}
                </div>
            </nav>

			<div class="box ui-widget ui-widget-content">
				<div class="header">{$user.name}</div>
				<div class="content user-box">
					<a href="{$site->getRootUrl()}/admin.php?mod=users&amp;id={$user.id}">
						Изменить пароль
					</a>
					<form action="{$site->getRootUrl()}/admin.php" method="post">
						<div class="ui-button-box">
							<input type="hidden" name="action" value="logout">
							<button type="submit">Выйти</button>
						</div>
					</form>
				</div>
			</div>

		</aside>

		<div id="content">
			<noscript>
				<div class="ui-state-error box">
					В вашем браузере не работает JavaScript. Без JavaScript работа с панелью управления
					сайтом невозможна, и может привести к потере информации!
				</div>
			</noscript>
			{if $Eresus->conf.debug.enable}
			<div class="ui-state-error box">
				Внимание! Включен режим отладки. На общедоступном сайте это может быть небезопасно.
				Отключить режим отладки можно в файле <code>cfg/main.php</code>.
			</div>
			{/if}
            {if $errors}
            {foreach $errors message}
            <div class="ui-state-error box">{$message}</div>
            {/foreach}
            {/if}
			{$content}
		</div>
	</div>

	<script src="{$site->getRootUrl()}/admin/themes/default/theme.js"></script>
	<script src="{$site->getRootUrl()}/core/functions.js"></script>
	{$body}
</body>
</html>