.button_has_icon
{
    position: relative;
}

.button_has_icon:before
{
    background-image: url(img/icons-16.png);
    background-repeat: no-repeat;
    content: ' ';
    display: block;
    height: 16px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 16px;
}
