/**
 * Eresus 2.10.1
 *
 * Стили административного интерфейса
 *
 * Система управления контентом Eresus™ 2
 * © 2004-2007, ProCreat Systems, http://procreat.ru/
 * © 2007-2008, Eresus Group, http://eresus.ru/
 *
 * @author Mikhail Krasilnikov <mk@procreat.ru>
 */


/* Основные стили */
body.admin {
  background-image: none;
  background-color: #ddd;
  color: #000;
  margin: 0px;
  padding: 0px;
  font: 8pt Verdana, Geneva, sans-serif;
}

img {border: none 0px;}

.admin a {color: blue; text-decoration: none; font-weight: normal;}
.admin a:visited {color: blue; text-decoration: none;}
.admin a:hover {color: red; text-decoration: none;}

h1,h2,h3,h4,h5,h6 {color: #007acc; border: none 0px;}

.highlight {color: red;} /* подсветка */
.admError {color: red;} /* Ошибка */

/* Заголовок */
div.pageHeader {
  height: 32px;
  font-size: 8pt;
  font-weight: bold;
  color: white;
  background-color: #007acc;
  border-style: solid;
  border-width: 1px;
  border-color: #6ad #005 #005 #6ad;
  text-align: left;
  padding: 2px 10px;
}

.pageHeader h1 {
  font-family : Sans, Arial, Helvetica, sans-serif;
  font-size : 12pt;
  font-style : italic;
  font-weight : bold;
  color: #ffd700;
  margin: 0;
  padding: 0;
}

#cmsLogo {
  float: right;
  width: 150px;
  height: 30px;
}

table {font-size: 8pt;}
table.slim {border-collapse: collapse; border-spacing: 0;}

/* Меню */
td#adminMenu {width: 200px; vertical-align: top;}
#adminMenu table {background-color: #eee; border: solid 1px #999; width: 100%; margin: 0px;}
#adminMenu th {background: #007acc url('img/hbg.gif') repeat-x; border: solid 1px; border-color: #08d #05a #05a #06b; color: #ffd700; font-size: 8pt;}
#adminMenu td {background-color: #eee; padding: 2px; color: black; border: solid 1px #ccc; font-size: 8pt;}
#adminMenu ul {list-style: none; margin: 0px; padding: 0px; overflow: hidden;}
#adminMenu li {margin: 0px; padding: 0px; white-space: nowrap;}
#adminMenu img {margin: 2px 2px 0px 1px;}
#adminMenu img.link {cursor: pointer;}
#adminMenu a {color: blue;}
#adminMenu a:visited {color: blue;}
#adminMenu a:hover {color: red;}
#adminMenu li.selected > a{color: red;}
#adminMenu li.selected > a:visited {color: red;}
#adminMenu li.selected > a:hover {color: red;}
#adminMenu .hidden a {color: #888;}
#adminMenu .hidden a.visited {color: #888;}
#adminMenu .hidden a:hover {color: red;}
#adminMenu em {font-style: normal; color: red;} /* Два слона */

#adminContent {vertical-align: top; padding: 0px;}

/* Окна */
table.admWindow {background-color: #eee; font-size: 8pt; font-weight: bold; border: solid 1px #aaa; margin: 0px;}
.admWindow th {background: #007acc url('img/hbg.gif') repeat-x; color: white;  border: solid 1px #aaa;}
.admWindow td {vertical-align: top; font-size: 8pt; color: #000; font-weight: normal;}
.admWindow h1 {font-size: 12pt; margin: 2px; color: #007acc;}
.admWindow h2 {font-size: 10pt; margin: 2px}

/* Сообщения об ошибках */
div.errorBox {background: #fff; border: solid 2px #f00; font-size: 8pt; padding: 5px; margin: 0 2px 2px 2px;}
div.errorBoxCap {background: #f00; color: #fff; font-weight: bold; padding: 2px 5px 0px 5px; margin: 2px 2px 0 2px;}
/* Информационные сообщения */
div.infoBox {background: #fff; border: solid 2px #007acc; font-size: 8pt; padding: 5px; margin: 0 2px 2px 2px;}
div.infoBoxCap {background: #007acc; color: #fff; font-weight: bold; padding: 2px 5px 0px 5px; margin: 2px 2px 0 2px;}

/* Формы */
form {margin: 0px; padding: 0px;}
div.admHidden {position: absolute;}
td.formLabel {text-align: right; white-space: nowrap;}
td.admFormText {color: #000; font-weight: normal;}
hr.admFormDivider {border: solid 1px #007acc;}

input {
	font-size: 8pt;
	font-weight: normal;
	border: solid 1px #aaa;
	font-family : 'MS Sans Serif', Geneva, sans-serif;
}
select {border: solid 1px #aaa; background-color: white; color: black; font-family : "MS Sans Serif", Geneva, sans-serif; font-size : 8pt; font-weight: normal;}
textarea {border: solid 1px #aaa; background-color: white; color: black; font-family : "MS Sans Serif", Geneva, sans-serif; font-size : 8pt;}
input.button {
	color: #007acc;
	width: 10em;
	font-weight: bold;
	background-color: #fff;
}

span.hint {cursor: help; text-decoration: underline;}

/* Списки */
table.admList {border: solid 1px black; background-color: #eee;}
.admList th {background: #007acc url('img/hbg.gif') repeat-x; color: white; white-space: nowrap;}
.admList tr {background-color: #fff;}
.admList tr:hover {background-color: #cfc;}
.admList td {padding: 0px 5px; cursor: default; font-size: 8pt;}
.admList td.ctrl {text-align: center; white-space: nowrap;}
span.admSortBy {color: #ffd700;}

div.admListPages {text-align: left; margin: 2px 0px}
.admListPages a {font-weight: bold;}
.admListPages span.selected {font-weight: bold; background-color: #007acc; color: #ffd700;}

div.admListHint {border: solid 1px #007acc; background-color: white; padding: 2px 5px; margin: 1px 5px 2px 0px; font-size: 8pt;}

/* Вкладки */
table.admTabs {margin: 2px 0px;}
.admTabs td {
	font-size: 8pt;
	padding: 1px 0.3em;
	background: #007acc url('img/hbg.gif') repeat-x;
	text-align: center;
	border: solid 1px;
	border-color: #47d #028 #028 #47d;
}
.admTabs a {
	color: white;
	font-weight: bold;
	display: block;
	height: 100%;
}
.admTabs a:visited  {color: white; font-weight: bold;}
.admTabs a:hover  {color: white; font-weight: bold;}

/* File manager */

table.files {background-color: white;}
td.filesMenu {background-color: silver; border-style: solid; border-width: 1px; border-color: #ddd #555 #555 #ddd;}
.filesMenu td {padding: 2px 5px; color: black; width: 5em; text-align: center; border: solid 1px silver; cursor : default;}
td.filesPanel {border-style: solid; border-width: 0px 1px; border-color: #ddd #555 #555 #ddd;}
table.filesList {width: 100%; color: black;}
.filesListPath th {background-color: white; padding: 2px 5px; text-align: left; cursor : default;}
.filesList td {padding: 2px 5px; cursor : default; white-space: nowrap;}
.filesListHdr th {background-color: silver; border-style: solid; border-width: 1px; border-color: #ddd #555 #555 #ddd; color: black; white-space: nowrap;}
.filesControls td {background-color: silver; border-style: solid; border-width: 1px; border-color: #ddd #555 #555 #ddd; padding: 1px 2px; color: #000; white-space: nowrap;}
.filesControls a {color: blue;}
.filesControls a:visited {color: blue;}
.filesControls a:hover {color: #B22222; text-decoration: underline;}

/* Pages list */
#admPagesList table {border-collapse: collapse;}
#admPagesList td {padding: 0;}
#admPagesList img {cursor: pointer;}