html {
	padding: 0px;
	margin: 0px;
	height: 100%;
	}
body {
  background: ThreeDFace;
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: sans-serif;
}

.Panel {
  border: solid 1px;
  border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight;
  padding: 2px;
}

.ListBox {
  border: solid 1px;
  border-color: ThreeDShadow ThreeDHighlight ThreeDHighlight ThreeDShadow;
  background: Window;
  color: WindowText;
  cursor: default;
  padding: 2px;
}

#MainMenu {
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  height: 20px;
}
#MainMenu a {border: solid 1px ThreeDFace; color: ButtonText; text-decoration: none; padding-left: 5px; padding-right: 5px; cursor: default;}
#MainMenu a:visited {border: solid 1px ThreeDFace; color: ButtonText; text-decoration: none;}
#MainMenu a:hover {border: solid 1px; border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight; color: ButtonText; text-decoration: none;}

#StatusBar {
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  height: 20px;
}

form {margin: 0; padding: 0;}

button {width: 8em;}

table {font-size: 9pt;}