<div class="ui-widget ui-content-tabs ui-helper-clearfix">
	<div class="ui-widget ui-widget-content ui-tabs content-editor-tabs">
		<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header">
			<li class="ui-state-default ui-tabs-selected ui-state-active"><a href="#" onclick="return false;">Наполнение</a></li>
			<li class="ui-state-default"><a href="{$sectionPropsURL}">Свойства раздела</a></li>
		</ul>
	</div>
	
	&nbsp;
	{if $plugin}<a href="admin?mod=plgmgr&id={$plugin->name}" class="ui-inline-icon ui-icon-item-config">Настройки модуля "{$plugin->title}"</a>{/if}
	<a href="{$clientURL}" class="ui-inline-icon ui-icon-link-external">Просмотр страницы</a>
</div>
	
{$editor}
