<table class="table-list">
    <thead class="table-list__header">
        <tr>
            <th>Раздел</th>
            <th>Адрес</th>
            <th>Тип</th>
            <th>Доступ</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-list__body">
        {% include 'CmsBundle:Sections:IndexRow.html.twig' with {'level': 0} %}
    </tbody>
</table>
