<div class="box">
	<div class="content" style="background-color: #fff;">

		<h1>{$product.title} {$product.version}</h1>
		{foreach $product.copyrights item}
		<div class="copyright">&copy; {$item.year}, {$item.owner}, <a href="{$item.url}">{$item.url}</a></div>
		{/foreach}
		
		<ul>
			<li><a href="#license">Лицензия</a></li>
			<li><a href="#components">Компоненты</a></li>
			<li><a href="#3rdparty">Использованные сторонние разработки</a></li>
			<li><a href="#gratitude">Благодарности</a></li>
			<li><a href="#vendor">Разработка</a></li>
		</ul>

		<a name="license"></a>
		<h2>Лицензия</h2>

		{$license.text}
		
		<a name="components"></a>
		<h2>Компоненты</h2>
		<ul>
			<li><a href="http://eresus.ru/products/eresus-core/">Eresus Core {constant('ERESUS_CORE_VERSION')}</a>
		</ul>

		<a name="3rdparty"></a>
		<h2>Использованные сторонние разработки</h2>

		Продукт содержит в своём составе ряд сторонних разработок:

		<table>
			<tbody>

				{foreach $uses item}
				<tr>
					<td>
						<a href="{$item.url}">
							<img src="{$Eresus->root}{$item.logo}" alt="{$item.title} logo" />
						</a>
					</td>
					<td>
						{$item.info}
					</td>
				</tr>
				{/foreach}

			</tbody>
		</table>

		<a name="gratitude"></a>
		<h2>Благодарности</h2>

		<p>Автор благодорит:</p>

		<dl>

			<dt>Компанию <a href="http://dvaslona.ru/">&laquo;Два слона&raquo;</a></dt>
			<dd>За хостинг, тестирование, ресурсы и стимул развивать проект.</dd>

		</dl>

		<a name="vendor"></a>
		<h2>Разработка</h2>

		<dl>

			<dt><a href="mailto:mk@3wstyle.ru">Михаил Красильников</a></dt>
			<dd>Проектирование, программирование, дизайн, вёрстка.</dd>

			<dt>Александр Гаврилюк</dt>
			<dd>Программирование, тестирование.</dd>

		</dl>

	</div>
</div>