/* Стандартные стили */


/**
 * ТИПОГРАФИКА
 *
 * @section typography
 */

/**
 * Базовые стили документа
 */
html,
body
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 0.875em;
	line-height: 1.54em;
}

/**
 * Базовые стили картинок
 */
img
{
	border-width: 0;
}

/**
 * Ссылки
 */
a
{
	color: #08c;
}
	/**
	 * Посещённые ссылки
	 */
	a:visited
	{
		color: #037;
		text-decoration: underline;
	}

	/**
	 * Ссылки при наведении
	 */
	a:hover
	{
		color: #f00;
	}

/**
 * Базовые стили заголовков
 */
h1,
h2,
h3,
h4,
h5,
h6
{
}

/**
 * ИНТЕРФЕЙС САЙТА
 *
 * @section UI
 */

/**
 * Основные узлы документа
 */
html,
body
{
	background-color: #eee;
	display: block;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

/**
 * Пространство страницы (исключая футер)
 */
.page-layout
{
	background-color: #fff;
	border-color: #ddd;
	border-style: solid;
	border-width: 0 1px;
	color: #111;
	margin: 0 auto;
	max-width: 1200px;
	min-height: 100%;
	position: relative;
}

/**
 * Заголовок страницы
 */
.page-header
{
	background: #000 url(example-header-bg.png) repeat-x;
	color: #fff;
	height: 70px;
	padding: 20px 20px 10px;
}

/**
 * Главное меню
 */
.main-menu
{
	border-bottom: solid 1px #ddd;
	padding: 5px 10px;
}
	.main-menu a,
	.main-menu a:visited
	{
		color: #08c;
		text-decoration: none;
	}

	.main-menu a:hover
	{
		color: #f00;
	}

/**
 * Область контента
 */
#Content
{
  padding: .5em 1em 60px;
}

/**
 * "Подвал" страницы
 */
.page-footer
{
	background-color: #778899;
	border-top: solid 1px #555;
	clear: both;
	height: 60px;
	margin: -60px auto 0;
	max-width: 1200px;
	position: relative;
	width: 100%;
}

.copyright
{
	margin: 20px;
}

/**
 * Переключатель страниц
 */
div.pages
{
}

	/**
	 * Выбранная страница
	 */
	.pages span.selected
	{
	}


/**
 * Сообщения об ошибках
 */
div.errorBox
{
	background-color: #fff;
	border: solid 2px #f00;
	color: #000;
	margin: 0 2px 2px 2px;
	padding: 5px;
}
	div.errorBoxCap
	{
		background-color: #f00;
		color: #fff;
		font-weight: bold;
		margin: 2px 2px 0 2px;
		padding: 2px 5px 0 5px;
	}

/**
 * Информационные сообщения
 */
div.infoBox
{
	background-color: #fff;
	border: solid 2px #25b;
	color: #000;
	margin: 0 2px 2px 2px;
	padding: 5px;
}
	div.infoBoxCap
	{
		background-color: #25b;
		color: #fff;
		font-weight: bold;
		margin: 2px 2px 0 2px;
		padding: 2px 5px 0 5px;
	}
