<div class="form__row">
    <label>
        <input name="settings[highlight]" type="checkbox" value="1"
            {% if plugin.settings.highlight %} checked{% endif %}>
        <input name="settings[highlight]" type="hidden" value="0">
        Подсветка синтаксиса
    </label>
</div>
