<form action="{{ form.action }}" method="{{ form.method}}">
    <input type="hidden" name="mod" value="plgmgr">
    <input type="hidden" name="id" value="{{ plugin.namespace }}">
    <input type="hidden" name="action" value="config">
    <input name="settings[value1]" value="{{ plugin.settings.value1 }}">
    <button type="submit">Сохранить</button>
</form>
