{% extends 'EresusCmsBundle:Base:Default.html.twig' %}

{% set pageTitle = 'Файлы' %}

{% block contents %}
    {% if not fileManager is null %}
        <div class="box">
            <div class="box__header">Файловый менеджер</div>
            <div class="box__contents">
                {{ fileManager.renderView }}
            </div>
        </div>
    {% else %}
        <div class="message message_type_error">
            Нет ни одного модуля расширения, предоставляющего файловый менеджер.
        </div>
    {% endif %}
{% endblock %}
