/**
 * Сообщение об ошибке
 */
.message_type_error
{
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	background: #ffcabf url(img/large/status/dialog-error.png) no-repeat 5px 50%;
	border-radius: 7px;
	box-shadow: 
		0 0 3px 0 rgba(0, 0, 0, 0.5),
		0 15px 10px 0 rgba(255, 255, 255, 0.6) inset;
	padding-left: 45px;
}
