{% extends 'form_table_layout.html.twig' %}

{% block field_row %}
    {% spaceless %}
        <tr class="form__row">
            <td class="formLabel">{{ form_label(form) }}</td>
            <td>{{ form_errors(form) }}{{ form_widget(form) }}</td>
        </tr>
    {% endspaceless %}
{% endblock field_row %}
