<!-- Основной шаблон страниц -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">
<head>
  <title>$(sectionTitle) - $(siteTitle)</title>
  <meta http-equiv="Content-Type" content="text/html; charset=$(const:CHARSET)" />
  <meta http-equiv="Keywords" content="$(siteKeywords)" />
  <meta http-equiv="Description" content="$(siteDescription)" />
  <link rel="StyleSheet" href="$(styleRoot)default.css" type="text/css" />
</head>
<body>
  <div id="Content">$(Content)</div>
</body>
</html>