<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php">

	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../../src</directory>
			<exclude>
                <directory>../../src/core/framework</directory>
                <file>../../src/core/errors.html.php</file>
				<file>../../src/core/fatal.html.php</file>
				<file>../../src/core/gziph.php</file>
				<directory>../../src/ext-3rd</directory>
				<directory>../../src/lang</directory>
				<directory>../../src/style</directory>
				<directory>../../src/templates</directory>
				<directory>../../src/var</directory>
				<file>../../src/index.php</file>
			</exclude>
		</whitelist>
	</filter>

	<testsuites>
		<testsuite name="All tests">
			<directory suffix="Test.php">.</directory>
		</testsuite>
	</testsuites>

</phpunit>
