.table-list__header > tr > th,
.table-list__header > th
{
	-o-text-overflow: ellipsis;
	background: #cddef3;
	border: solid 1px #99bbe8;
	box-shadow:
		0 1px 0 0 white inset,
		0 1px 3px 0 rgba(255, 255, 255, 0.898) inset,
		0 11px 1px 0 #D5E4F5 inset,
		0 12px 0 0 #9AB8EC inset,
		0 19px 4px 0 #B8CFEE inset;
	color: #15428b;
	font-size: 13px;
	font-weight: bold;
	overflow: hidden;
	padding: 1px 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
