<table class="table table_type_list">
    {if $table->hasHead()}
    <thead class="table__header">
        <tr>
            {foreach $table->getColumns() col}
            <th class="table__column">{$col->getCaption()}</th>
            {/foreach}
        </tr>
    </thead>
    {/if}
    <tbody class="table__body">
    {foreach $table->getDataRows() row}
        <tr class="table__row">
            {foreach $table->getColumns() col}
            <td class="table__cell{if $col->getAlign()} table__cell_align_{$col->getAlign()}{/if}">
                {$col->getData($row)}
            </td>
            {/foreach}
        </tr>
    {/foreach}
    </tbody>
</table>