<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>{$siteName} - {$page->title}</title>
	<link rel="StyleSheet" href="{$globals.siteRoot}/admin/themes/default/theme.css" type="text/css">
	<script>
		window.Eresus = {
				siteRoot: "{$globals.siteRoot}"
		};
	</script>
	{jslib jquery ui cookie}
	{* renderHeadSection надо обязательно вызывать после всех jslib *}
	{$page->renderHeadSection()}
</head>
<body>

	<div class="ui-header">
		<div class="cms-logo">
			<a class="cms-logo__link" href="admin.php?mod=about">
				<img class="cms-logo__image" src="{$globals.siteRoot}/admin/themes/default/img/logo.png"
					alt="{$cms.name} {$cms.version}" width="150" height="30">
			</a>
		</div>
		<h1 class="ui-header__site-title">{$siteName} &mdash; {$page->title}</h1>
		<div class="ui-header__cms-title">CMS {$cms.name} {$cms.version}</div>
	</div>

	<div class="sidebar">

		<div class="block">
			<div class="block__header">{i18n('Наполнение', 'admin')}</div>
			<div class="block__contents menu menu-content">
				<ul>
					{$sectionMenu}
				</ul>
			</div>
		</div>

		<div class="block menu">
			{$controlMenu}
		</div>

		<div class="block">
			<div class="block__header">{$globals.Eresus->user->fullname}</div>
			<div class="block__contents user-box">
				<a href="{$globals.siteRoot}/admin.php?mod=users&amp;id={$user.id}">
					{i18n('Изменить пароль', 'admin')}
				</a>
				<form action="{$globals.siteRoot}/admin.php" method="post">
					<div class="ui-button-box">
						<input type="hidden" name="action" value="logout">
						<button type="submit" class="button">
							<span class="button__contents">{i18n('Выйти', 'admin')}</span>
						</button>
					</div>
				</form>
			</div>
		</div>

	</div>

	<div class="ui-content">
		<noscript>
			<div class="message message_type_error">
				В вашем браузере не работает JavaScript. Без JavaScript работа с панелью управления
				сайтом невозможна, и может привести к потере информации!
			</div>
		</noscript>
		{if Eresus_Config::get('eresus.cms.debug.enable')}
		<div class="message message_type_warning">
			Внимание! Включен режим отладки. На общедоступном сайте это может быть небезопасно.
			Отключить режим отладки можно в файле <code>cfg/main.php</code>.
		</div>
		{/if}
		{$content}
	</div>
	
	<script src="{$globals.siteRoot}/admin/themes/default/theme.js"></script>
	<script src="{$globals.siteRoot}/core/functions.js"></script>
	{$body}
</body>
</html>