##
# ${product.title} ${product.version}
#
# ${product.description}
#
# Конфигурация для веб-сервера Apache
#
# @copyright 2004, Михаил Красильников <mihalych@vsepofigu.ru>
# @copyright 2007, Eresus Project, http://eresus.ru/
# @license ${license.uri} ${license.name}
# @author Михаил Красильников <mihalych@vsepofigu.ru>
#
# Данная программа является свободным программным обеспечением. Вы
# вправе распространять ее и/или модифицировать в соответствии с
# условиями версии 3 либо (по вашему выбору) с условиями более поздней
# версии Стандартной Общественной Лицензии GNU, опубликованной Free
# Software Foundation.
#
# Мы распространяем эту программу в надежде на то, что она будет вам
# полезной, однако НЕ ПРЕДОСТАВЛЯЕМ НА НЕЕ НИКАКИХ ГАРАНТИЙ, в том
# числе ГАРАНТИИ ТОВАРНОГО СОСТОЯНИЯ ПРИ ПРОДАЖЕ и ПРИГОДНОСТИ ДЛЯ
# ИСПОЛЬЗОВАНИЯ В КОНКРЕТНЫХ ЦЕЛЯХ. Для получения более подробной
# информации ознакомьтесь со Стандартной Общественной Лицензией GNU.
#
# Вы должны были получить копию Стандартной Общественной Лицензии
# GNU с этой программой. Если Вы ее не получили, смотрите документ на
# <http://www.gnu.org/licenses/>
#

# Отключаем автоматический индекс директорий (-Indexes)
Options -Indexes +FollowSymLinks

# Отключаем установку кодировки по умолчанию
AddDefaultCharset Off

<IfModule mod_charset.c>
	CharsetDisable On
</IfModule>

#
# Конфигурация трансформации URL
#
<IfModule mod_rewrite.c>
	RewriteEngine on

	### БЕЗОПАСНОСТЬ ###

	# Запрещаем запуск потенциально опасных файлов из недоверенных директорий
	RewriteRule ^(data|style)/((.*/)?\.[^/]$|.*\.(ph(p[2-6]?|tml)|pl)$) - [forbidden]

	# Проксируем все запросы к сторонним расширениям через их коннекторы
	RewriteRule ^ext-3rd/.* index.php [last]

	### ДРУГИЕ ПЕРЕАДРЕСОВКИ ###

	# Включаем gzip-сжатие CSS и JavaScript
	RewriteRule (.*\.css)$ core/gziph.php?file=$1&type=text/css [last]
	RewriteRule (.*\.js)$ core/gziph.php?file=$1&type=text/javascript [last]

	# Отключаем перехват запросов в следующих директориях
	RewriteRule ^(core/js|admin/themes|admin/logos|ext|data|style)/ - [last]
	# Отключаем перехват запросов к следующим файлам
	RewriteRule ^(robots.txt|favicon.[^\.]+|core/gziph.php.*)$ - [last]

	# Все остальные запросы должны перехватываться запускающим скриптом
	RewriteRule .* index.php
</IfModule>

# Если mod_rewrite не сработал (модуль не подключен, нет нужного файла), то...
<IfModule mod_dir.c>
	DirectoryIndex index.htm
</IfModule>
