.button,
.button:visited
{
	background-color: #eee;
	border: white solid 1px;
	border-radius: 4px;
	box-shadow:
		0 1px 2px 0 rgba(0, 0, 0, .5),
		0 .3em 5px 0 rgba(255, 255, 255, .8) inset,
		0 -.7em 5px 0 rgba(0, 0, 0, .1) inset;
	color: #000;
	cursor: pointer;
	font-size: 13px;
	height: 25px;
	min-width: 7em;
	outline: none;
	padding: 3px 10px;
	text-decoration: none;
}

.button:hover
{
	box-shadow:
		0 0 2px 2px #cddef3,
		0 1px 2px 0 rgba(0, 0, 0, .5),
		0 .3em 5px 0 rgba(255, 255, 255, .8) inset,
		0 -.7em 5px 0 rgba(0, 0, 0, .1) inset;
	text-decoration: none;
}

.button:active
{
	left: 1px;
	outline: none;
	position: relative;
	top: 1px;
	text-decoration: none;
}

.button:focus
{
	box-shadow:
		0 0 2px 2px #cddef3,
		0 1px 2px 0 rgba(0, 0, 0, .5),
		0 .3em 5px 0 rgba(255, 255, 255, .8) inset,
		0 -.7em 5px 0 rgba(0, 0, 0, .1) inset;
}

button.button[type=submit]
{
	font-weight: bold;
}
