<table class="admList">
	<thead>
		<tr>
			{if $list->hasItemControls()}<th>&nbsp;</th>{/if}
			{foreach $list->getCols() col}
			<th>{$col.caption}</th>
			{/foreach}
		</tr>
	</thead>
	<tbody>
		{foreach $list->getRows() row}
		<tr>
			{if $list->hasItemControls()}
			<td>
				{foreach $list->getItemControls($row.model) control}
				<a href="./{$control->getAction()}/"><img src="{$control->getIcon()}"
					alt="{$control->getAlt()}" title="{$control->getTitle()}"></a>
				{/foreach}
			</td>
			{/if}
			{foreach $row.values cell}
			<td>
				{$cell}
			</td>
			{/foreach}
		</tr>
		{/foreach}
	</tbody>
</table>