{$pagination->render()}
<table class="admList">
	<thead>
		<tr>
			{if $list->hasItemControls()}<th>&nbsp;</th>{/if}
			{foreach $list->getCols() col}
			<th>{$col.caption}</th>
			{/foreach}
		</tr>
	</thead>
	<tbody>
		{foreach $list->getRows() row}
		<tr>
			{if $list->hasItemControls()}
			<td>
				{foreach $list->getItemControls($row.model) control}
				{if $control->isAvailable()}
				<a href="./{$control->getAction()}/" title="{$control->getTitle()}"><img 
					src="{$control->getIcon()}"	alt="{$control->getAlt()}"></a>
				{/if}
				{/foreach}
			</td>
			{/if}
			{foreach $row.values cell}
			<td>
				{$cell}
			</td>
			{/foreach}
		</tr>
		{/foreach}
	</tbody>
</table>
{$pagination->render()}