html,
body
{
	font-family: Tahoma, sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
}

a
{
	color: #005B81;
	text-decoration: none;
}

a:hover
{
	color: #E32E00;
	text-decoration: underline;
}

.main-nav
{
	background: #007acc;
	clear: both;
	color: white;
	display: block;
	font-size: 90%;
	padding: 5px 10px;
}

.location,
.siblings
{
	list-style: none;
	margin: 0;
	padding: 0;
	text-shadow: 1px 1px 0 #444;
}

.location
{
	margin-left: 220px;
}

.siblings
{
	float: right;
}

	.location__item,
	.siblings__item
	{
		display: inline-block;
	}

	.siblings__item
	{
		float: right;
		padding-right: .2em;
	}

	.location__link,
	.location__link:visited,
	.siblings__link,
	.siblings__link:visited
	{
		color: #ffd700;
		text-decoration: none;
	}

	.location__link:hover,
	.siblings__link:hover
	{
		color: #ffd700;
		text-decoration: underline;
	}

.footer
{
	background: #111;
	color: #555;
	font-size: 75%;
	padding: 1em 0;
	text-align: center;
}

	.footer__link,
	.footer__link:visited
	{
		color: #444;
	}

	.footer__link:hover
	{
		color: #888;
	}

.documentwrapper
{
	float: left;
	width: 100%;
}

.main-sidebar
{
	background: #eee;
	float: left;
	font-size: 0.75em;
	margin-left: -100%;
	width: 230px;
}

	.main-sidebar h3,
	.main-sidebar h4
	{
		background: #ddd;
		color: #222;
		font-weight: normal;
		padding: .5em;
		text-decoration: none;
		text-shadow: 1px 1px 0 white;
	}

	.main-sidebar h3 a,
	.main-sidebar h3 a:visited
	{
		color: #222;
		text-decoration: none;
	}

	.main-sidebar h3 a:hover
	{
		text-decoration: underline;
	}

.sphinxsidebarwrapper
{
	padding: 0;
}

.logo
{
	background: #007acc;
	border-bottom-right-radius: 1em;
	padding-left: 1em;
	text-align: left;
}

.bodywrapper
{
	margin-left: 240px;
}

.main-sidebar ul,
.main-sidebar p
{
	list-style: none;
	padding: 0 0 0 1em;
}

div.main-sidebar ul ul,
div.main-sidebar ul.want-points
{
	list-style: square;
}

div.main-sidebar ul ul {
	margin-top: 0;
	margin-bottom: 0;
}

.main-sidebar form
{
	margin: 10px 5px 0 5px;
}

.main-sidebar input
{
	border: 1px solid #888;
	font-family: sans-serif;
	font-size: 1em;
}

div.main-sidebar input[type="text"]
{
	width: 160px;
}

div.main-sidebar input[type="submit"]
{
	width: 50px;
}

hr
{
	border: 1px solid #B1B4B6;
}

.document
{
	background-color: #eee;
}

.body
{
	color: #3E4349;
	font-size: 0.9em;
	padding: 0 30px 30px;
}

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
	font-family: Arial, sans-serif;
	background-color: #BED4EB;
	font-weight: normal;
	color: #212224;
	margin: 30px 0px 10px 0px;
	padding: 5px 0 5px 10px;
	text-shadow: 0px 1px 0 white
}

div.body h1 { border-top: 20px solid white; margin-top: 0; font-size: 200%; }
div.body h2 { font-size: 150%; background-color: #C8D5E3; }
div.body h3 { font-size: 120%; background-color: #D8DEE3; }
div.body h4 { font-size: 110%; background-color: #D8DEE3; }
div.body h5 { font-size: 100%; background-color: #D8DEE3; }
div.body h6 { font-size: 100%; background-color: #D8DEE3; }

.headerlink
{
	color: #c60f0f;
	display: none;
	font-size: 0.8em;
	padding: 0 4px 0 4px;
	text-decoration: none;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink
{
	display: inline;
}

.headerlink:hover
{
	background-color: #c60f0f;
	color: white;
}

div.body p, div.body dd, div.body li
{
	line-height: 1.5em;
}

div.admonition p.admonition-title + p
{
	display: inline;
}

div.highlight{
	background-color: white;
}

div.seealso {
	background-color: #ffc;
	border: 1px solid #ff6;
}

div.topic {
	background-color: #eee;
}

div.warning {
	background-color: #ffe4e4;
	border: 1px solid #f66;
}

pre
{
	padding: 10px;
	background-color: White;
    box-shadow: 1px 1px 1px #d8d8d8;
	color: #222;
	line-height: 1.2em;
	border: 1px solid #C6C9CB;
	font-size: 1.1em;
	margin: 1.5em 0 1.5em 0;
}

tt {
	background-color: #ecf0f3;
	color: #222;
	/* padding: 1px 2px; */
	font-size: 1.1em;
	font-family: monospace;
}

.viewcode-back {
	font-family: Arial, sans-serif;
}

div.viewcode-block:target {
	background-color: #f4debf;
	border-top: 1px solid #ac9;
	border-bottom: 1px solid #ac9;
}

.docutils > dt
{
	font-weight: bold;
}

.docutils > dd
{
	margin-bottom: 5px;
}

.admonition
{
    background: #eee no-repeat 7px 7px;
    border: #ccc solid 1px;
    border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 7px 7px 7px 45px;
}

.admonition.note
{
    background-color: #e0eaef;
    background-image: url(note.png);
}

.admonition dt
{
	font-weight: bold;
}

.admonition dl
{
	margin-bottom: 0;
}

.admonition-title
{
	margin: 0px 10px 5px 0px;
	font-weight: bold;
}

p.centered
{
	text-align: center;
	margin-top: 25px;
}
