html,
body
{
	font-family: Tahoma, sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
}

a
{
	color: #005B81;
	text-decoration: none;
}

a:hover
{
	color: #E32E00;
	text-decoration: underline;
}

em
{
    font-style: normal;
}

.main-nav
{
	background: #007acc;
	clear: both;
	color: white;
	display: block;
	font-size: 90%;
	padding: 5px 10px;
}

.location,
.siblings
{
	list-style: none;
	margin: 0;
	padding: 0;
	text-shadow: 1px 1px 0 #444;
}

.location
{
	margin-left: 220px;
}

.siblings
{
	float: right;
}

	.location__item,
	.siblings__item
	{
		display: inline-block;
	}

	.siblings__item
	{
		float: right;
		padding-right: .2em;
	}

	.location__link,
	.location__link:visited,
	.siblings__link,
	.siblings__link:visited
	{
		color: #ffd700;
		text-decoration: none;
	}

	.location__link:hover,
	.siblings__link:hover
	{
		color: #ffd700;
		text-decoration: underline;
	}

.footer
{
	background: #111;
	color: #555;
	font-size: 75%;
	padding: 1em 0;
	text-align: center;
}

	.footer__link,
	.footer__link:visited
	{
		color: #444;
	}

	.footer__link:hover
	{
		color: #888;
	}

.documentwrapper
{
	float: left;
	width: 100%;
}

.main-sidebar
{
	background: #eee;
	float: left;
	font-size: 0.75em;
	margin-left: -100%;
	width: 230px;
}

	.main-sidebar h3,
	.main-sidebar h4
	{
		background: #ddd;
		color: #222;
		font-weight: normal;
		padding: .5em;
		text-decoration: none;
		text-shadow: 1px 1px 0 white;
	}

	.main-sidebar h3 a,
	.main-sidebar h3 a:visited
	{
		color: #222;
		text-decoration: none;
	}

	.main-sidebar h3 a:hover
	{
		text-decoration: underline;
	}

.sphinxsidebarwrapper
{
	padding: 0;
}

.logo
{
	background: #007acc;
	border-bottom-right-radius: 1em;
	padding-left: 1em;
	text-align: left;
}

.bodywrapper
{
	margin-left: 240px;
}

.main-sidebar ul,
.main-sidebar p
{
	list-style: none;
	padding: 0 0 0 1em;
}

div.main-sidebar ul ul,
div.main-sidebar ul.want-points
{
	list-style: square;
}

div.main-sidebar ul ul {
	margin-top: 0;
	margin-bottom: 0;
}

.main-sidebar form
{
	margin: 10px 5px 0 5px;
}

.main-sidebar input
{
	border: 1px solid #888;
	font-family: sans-serif;
	font-size: 1em;
}

div.main-sidebar input[type="text"]
{
	width: 160px;
}

div.main-sidebar input[type="submit"]
{
	width: 50px;
}

hr
{
	border: 1px solid #B1B4B6;
}

.document
{
	background-color: #eee;
}

.body
{
	color: #3E4349;
	font-size: 0.9em;
	padding: 0 30px 30px;
}

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
	font-family: Arial, sans-serif;
	background-color: #BED4EB;
	font-weight: normal;
	color: #212224;
	margin: 30px 0 10px 0;
	padding: 5px 0 5px 10px;
	text-shadow: 0 1px 0 white;
}

div.body h1 { border-top: 20px solid white; margin-top: 0; font-size: 200%; }
div.body h2 { font-size: 150%; background-color: #C8D5E3; }
div.body h3 { font-size: 120%; background-color: #D8DEE3; }
div.body h4 { font-size: 110%; background-color: #D8DEE3; }
div.body h5 { font-size: 100%; background-color: #D8DEE3; }
div.body h6 { font-size: 100%; background-color: #D8DEE3; }

.headerlink
{
	color: #c60f0f;
	display: none;
	font-size: 0.8em;
	padding: 0 4px 0 4px;
	text-decoration: none;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink
{
	display: inline;
}

.headerlink:hover
{
	background-color: #c60f0f;
	color: white;
}

/**
 * Сноска
 */
.footnote-reference
{
    font-size: 10px;
    font-weight: bold;
    vertical-align: super;
}

/**
 * Таблица сносок
 */
.footnote
{
    font-size: 12px;
}

div.body p, div.body dd, div.body li
{
	line-height: 1.5em;
}

div.admonition p.admonition-title + p {
	display: inline;
}

div.highlight{
	background-color: white;
}

div.note {
	background-color: #eee;
	border: 1px solid #ccc;
}

div.seealso {
	background-color: #ffc;
	border: 1px solid #ff6;
}

div.topic {
	background-color: #eee;
}

pre {
	padding: 10px;
	background-color: White;
	color: #222;
	line-height: 1.2em;
	border: 1px solid #C6C9CB;
	font-size: 1.1em;
	margin: 1.5em 0 1.5em 0;
	-webkit-box-shadow: 1px 1px 1px #d8d8d8;
	-moz-box-shadow: 1px 1px 1px #d8d8d8;
}

tt {
	background-color: #ecf0f3;
	color: #222;
	/* padding: 1px 2px; */
	font-size: 1.1em;
	font-family: monospace;
}

.viewcode-back {
	font-family: Arial, sans-serif;
}

div.viewcode-block:target {
	background-color: #f4debf;
	border-top: 1px solid #ac9;
	border-bottom: 1px solid #ac9;
}

.docutils > dt
{
	font-weight: bold;
}

.docutils > dd
{
	margin-bottom: 5px;
}

.admonition
{
    background: #eee;
    border-radius: 7px;
    box-shadow:
        0 0 3px 0 rgba(0, 0, 0, 0.5),
        0 15px 10px 0 rgba(255, 255, 255, 0.6) inset;
    margin: 7px 0;
    min-height: 30px;
    padding: 5px 5px 5px 45px;
    position: relative;
}

    .admonition:before
    {
        background-image: url(icons-32.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        content: ' ';
        display: block;
        height: 32px;
        left: 5px;
        margin-top: -16px;
        position: absolute;
        top: 50%;
        width: 32px;
    }

.admonition dt
{
	font-weight: bold;
}

.admonition dl
{
	margin-bottom: 0;
}

.admonition-title
{
	margin: 0px 10px 5px 0;
	font-weight: bold;
}

/**
 * Подсказка
 * Совет
 */
.admonition.hint,
.admonition.tip
{
    background-color: #d7f3c2;
}

    .admonition.hint:before,
    .admonition.tip:before
    {
        background-position: -128px 0;
    }

/**
 * Информация
 */
.admonition.note
{
    background-color: #cddef3;
}

    .admonition.note:before
    {
        background-position: -96px 0;
    }

/**
 * Внимание
 * Важно
 */
.admonition.attention,
.admonition.important
{
    background-color: #ffe87f;
}

    .admonition.attention:before,
    .admonition.important:before
    {
        background-position: -64px 0;
    }

/**
 * Осторожно!
 * Предупреждение
 */
.admonition.caution,
.admonition.warning
{
    background-color: #ffcabf;
}

    .admonition.caution:before,
    .admonition.warning:before
    {
        background-position: -160px 0;
    }

p.centered
{
	text-align: center;
	margin-top: 25px;
}

/**
 * Рубрика
 */
.rubric
{
    border-top: dotted 1px #ddd;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 0;
    padding: 0;
    text-indent: 0;
}