<table class="admWindow">
    <tr>
        <th>Добавление раздела</th>
    </tr>
    <tr>
        <td>
            <form action="admin.php" method="post" {{ form_enctype(form) }}>
                <input type="hidden" name="mod" value="pages">
                <input type="hidden" name="action" value="create">
                <input type="hidden" name="owner" value="{{ ownerId }}">
                {{ form_widget(form) }}
                <div class="ui-button-box">
                    <button type="submit">Создать</button>
                    <button type="button" onclick="history.back();">Отменить</button>
                </div>
            </form>
        </td>
    </tr>
</table>