{% for item in root.children %}
    {% if item.id != section.id %}
    <option value="{{ item.id }}">{% for i in 0..level %}-{% endfor %} {{ item.caption }}</option>
    {% include 'CmsBundle:Sections:move-options.html.twig' with {'level': level + 1, 'root': item} %}
    {% endif %}
{% endfor %}
