{% extends 'EresusCmsBundle:Base:Default.html.twig' %}

{% set pageTitle = 'Добавление раздела' %}

{% block contents %}
    <div class="box box_style_inline admin__content-add">
        <div class="box__header">Добавление раздела</div>
        <div class="box__contents">
            <form action="{{ path('admin.content.add', {'parent': section.parent.id}) }}"
                method="post" {{ form_enctype(form) }}>
                {% include 'EresusCmsBundle:Content:BaseDialog.html.twig' %}
                <div class="form__footer">
                    <button type="submit" class="button button_has_icon button_icon_ok">
                        Создать
                    </button>
                    <button type="button" class="button button_has_icon button_icon_cancel"
                            onclick="window.location='{{ path('admin.content') }}'">
                        Отменить
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}