{% extends 'CmsBundle:Base:Default.html.twig' %}

{% set pageTitle = 'Наполнение сайта' %}

{% block contents %}
    <h1>Управление разделами сайта и их наполнением</h1>

    <table class="table-list">
        <thead class="table-list__header">
        <tr>
            <th></th>
            <th>Раздел</th>
            <th>Адрес</th>
            <th>Тип</th>
        </tr>
        </thead>
        <tbody class="table-list__body">
        {% include 'CmsBundle:Content:IndexRow.html.twig' with {'level': 0} %}
        </tbody>
    </table>
{% endblock %}
